{# src/SP/PlatformBundle/Resources/views/Evenement/delete.html.twig #}

{% extends "SPPlatformBundle::layout.html.twig" %}

{% block title %}
  Supprimer une événement - {{ parent() }}
{% endblock %}

{% block spplatform_body %}

  <h2>Supprimer un événement</h2>

  <p>
    Etes-vous certain de vouloir supprimer l'événement "{{ evenement.nomEvenement }}" ?
  </p>

  {# On met l'id de l'annonce dans la route de l'action du formulaire #}
  <form action="{{ path('sp_platform_delete', {'id': evenement.id}) }}" method="post">
    <a href="{{ path('sp_platform_view', {'id': evenement.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'événement
    </a>
    {# Ici j'ai écrit le bouton de soumission à la main #}
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}