{# src/SP/PlatformBundle/Resources/views/Evenement/form.html.twig #}

<h3>Formulaire de création d'un événenement</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="form-group">
      {# Génération du label. #}
      {{ form_label(form.NomEvénement, "Nom de l'événement", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

      {# Affichage des erreurs pour ce champ précis. #}
      {{ form_errors(form.NomEvénement) }}

      <div class="col-sm-4">
        {# Génération de l'input. #}
        {{ form_widget(form.NomEvénement, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    {# Idem pour les autres champs. #}

    <div class="form-group">
      {{ form_label(form.NomOrganisateur, "Nom(s) de(s) organisateur(s)", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.NomOrganisateur) }}

      <div class="col-sm-4">
        {{ form_widget(form.NomOrganisateur, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.DateDébut, "Date du début de l'événement", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.DateDébut) }}

      <div class="col-sm-4">
        {{ form_widget(form.DateDébut, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.DateFin, "Date de la fin de l'événement", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.DateFin) }}

      <div class="col-sm-4">
        {{ form_widget(form.DateFin, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.HeureDébut, "Heure du début de l'événement", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.HeureDébut) }}

      <div class="col-sm-4">
        {{ form_widget(form.HeureDébut, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.HeureFin, "Heure de la fin de l'événement", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.HeureFin) }}

      <div class="col-sm-4">
        {{ form_widget(form.HeureFin, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.Descriptif, "Descriptif de l'événement", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.Descriptif) }}

      <div class="col-sm-4">
        {{ form_widget(form.Descriptif, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>


  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
  {{ form_rest(form) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>